.navbaritems
{
	height:55px;
}
.part3
{
	background-color:#307CF8;	
}
.fontss
{
	color: black;
}
.imgbr
{
	     margin: 1px 0 0px 0;
}
.tblbor
{
	border-color:white;
}
.tblbor2
{
	border-color:#307CF8;
	border: 0;
}
.sizes
{
	size:150px;
}
.margg
{
	margin: 7px 0 0 0;
}
.foots
{
	background-color: lightgrey;
}
